.food-display {
    margin-top: 30px;
}

.heading {
  padding: 0 20px;
  font-size: 24px;
  font-weight: 600;
}

.food-display-list {
   display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
 margin-top: 30px;
 gap: 30px;
 row-gap: 50px;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px; */
}