.gallery {
  border-top: 40px solid tomato;
  margin: 30px 10px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #fcf4f4;
  gap: 5px;
}

.gallery-image {
  margin: 15px 0;
  width: 100%;
  height: 250px;
  border-radius: 4px;
  object-fit: cover;
}