.product-details {
    border: 0.6px solid #ccc;
    border-radius: 12px;
   box-shadow: 0px 0px 10px #00000015;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 20px;
   margin: 0 auto;
   margin-top: 20px;
   width: 90%;
}

.product-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
}

.other-details {
    padding: 0 20px;
    line-height: 2.3rem;
    font-size: 20px;
}

.food-item-img-container .add {
    width: 35px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    color: tomato;
}

.food-item-counter {
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #ccc;
    cursor: pointer;
    width: 100px;
}