.header {
  height: 40vw;
  margin: auto;
  background: linear-gradient(45deg, rgba(18, 20, 18, 0.918), rgba(129, 45, 90, 0.1)),
    url('../../assest/bgFood.jpg') no-repeat;
  background-size: cover;
  position: relative;
  object-fit: contain;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  color: white;
  font-size: 2vw;
}

.menu-btn {
  border: none;
  color: #747474;
  font-weight: 700;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 17px);
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width:1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }

  .header-contents p {
    display: none;
  }
  .header-contents h2 {
    margin-bottom: 10px;
  }
}

